default_language_version:
    python: python3

repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=no']

- repo: git://github.com/PyCQA/isort
  rev: 5.5.3
  hooks:
  - id: isort

- repo: git://github.com/psf/black
  rev: stable
  hooks:
  - id: black
    language_version: python3

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
    # black-compatible flake-8 config
    args: ['--max-line-length=88',  # black default
           '--extend-ignore=E203']  # E203 is not PEP8 compliant
